* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  .busca {
    justify-self: center;
    align-self: center;
    margin: 10px;
    width: 100%;
    mat-form-field {
      margin-left: 10px;
      margin-right: 10px;
      width: 80%;
    }
  }
}

.close {
  align-self: flex-start;
}

.voltar {
  margin-left: 10px;
}

.capa {
  height: 300px;
  width: 200px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

mat-card {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  button{
    justify-self: end;
  }
}

.mat-card-header {
  justify-content: space-between;
}

.tooltip{
  background-color: #000;
  color: #FFFF;
}
