<div class="container" *ngIf="criticas$ | async as criticas">
  <div class="busca">
    <mat-form-field>
      <input [matAutocomplete]="auto" [(ngModel)]="busca" matInput placeholder="Busque uma crítica">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let critica of criticas" [value]="critica.titulo">
          {{critica.titulo}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button (click)="buscaCritica(criticas)" type="submit" mat-raised-button color="accent" matTooltip="Menu" matTooltipClass="tooltip">
      <span class="material-icons">
        search
      </span>
    </button>
  </div>

  <div *ngIf="resultado">
    <button (click)="voltar()" mat-raised-button color="accent" class="voltar" matTooltip="Voltar" matTooltipClass="tooltip">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card class="resultado">
      <mat-card-header>
        <mat-card-title>{{resultado.titulo}} - {{resultado.autor}}</mat-card-title>
        <mat-card-subtitle>{{resultado.subtitulo}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src={{resultado.capa}} alt={{resultado.titulo}} class="capa">
        <div>
          <p>
            {{resultado.critica[0]}}
          </p>
          <p>
            <b>Fonte: </b>
            <a href={{resultado.fonte}} target="_blank">{{resultado.fonte}}</a>
          </p>
          <button (click)="abrirLerMais(resultado.critica, resultado.titulo, resultado.autor, resultado.fonte, resultado.banner)" mat-raised-button
            color="accent" class="ler-mais" matTooltip="Ler Mais" matTooltipClass="tooltip" matTooltipPosition="right">
            <mat-icon>menu_book</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="!resultado">
    <div *ngFor="let critica of criticas">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{critica.titulo}} - {{critica.autor}}</mat-card-title>
          <mat-card-subtitle>{{critica.subtitulo}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src={{critica.capa}} alt={{critica.titulo}} class="capa">
          <div>
            <p>
              {{critica.critica[0]}}
            </p>
            <p>
              <b>Fonte: </b>
              <a href={{critica.fonte}} target="_blank">{{critica.fonte}}</a>
            </p>
            <button (click)="abrirLerMais(critica.critica, critica.titulo, critica.autor, critica.fonte, critica.banner)" mat-raised-button
              color="accent" class="ler-mais" matTooltip="Ler Mais" matTooltipClass="tooltip" matTooltipPosition="right">
              <mat-icon>menu_book</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
